<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/main.css">
        <link rel="stylesheet" href="./tabs.css">
    <title>Tabs</title>
</head>
<body>
    <div class="tabs">
        <input class="tabs__input" type="radio" name="tabs" id="all-tab" checked>
        <input class="tabs__input" type="radio" name="tabs" id="complex-tab">
        <input class="tabs__input" type="radio" name="tabs" id="simple-tab">
    
        <div class="tabs__scroller">
            <label class="tabs__label" for="all-tab">All components</label>
            <label class="tabs__label" for="complex-tab">Complex</label>
            <label class="tabs__label" for="simple-tab">Simple</label>
        </div>
        
        <div class="tabs__content tabs__content_all">
            <p>Все компоненты</p>
        </div>
        <div class="tabs__content tabs__content_complex">
            <p>Сложные компоненты</p>
        </div>
        <div class="tabs__content tabs__content_simple">
            <p>Простые компоненты</p>
        </div>
    </div>
</body>
</html>