.accordion__item {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 24px 32px;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    margin-bottom: 8px;
    box-sizing: border-box;
    cursor: pointer;
    position: relative;
    max-width: 579px;
}

.accordion__item[open] .accordion__title {
    margin-bottom: 16px;
}

.accordion__item[open] .accordion__icon {
    transform: rotate(180deg);
}

.accordion__title:last-child {
    margin-bottom: 0;
}

.accordion__title {
    list-style: none;
    outline: none;
    display: flex;
    justify-content: space-between;
}

.accordion__title::marker,
.accordion__title::-webkit-details-marker {
    display: none;
}

.accordion__icon {
    transition: transform 200ms ease-in-out;
}

.accordion__content {
    margin: 0;
}