.toggler {
    position: relative;
    display: inline-block;
}

.toggler__input {
    position: absolute;
    clip: rect(0,0,0,0);
    top: 0;
    left: 0;
}

.toggler__state {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.toggler__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
    white-space: nowrap;
}

.toggler__control {
    position: relative;
    box-sizing: border-box;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 16px;
    width: 52px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: background .2s ease, border .2s ease;
}

.toggler__control::after {
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: var(--grey-2);
    border: 1px solid var(--white);
    transition: transform .2s ease;
}

.toggler__input:checked ~ .toggler__state .toggler__control {
    background: #4263EB;
    border: 1px solid #4263EB;
}

.toggler__input:checked ~ .toggler__state .toggler__control::after {
    background: var(--white);
    border-color: #4263EB;
    transform: translateX(calc(100% - 2px));
}

.toggler__input:focus ~ .toggler__state .toggler__title {
    text-decoration: underline;
}

.toggler__input:disabled ~ .toggler__state {
    pointer-events: none;
}

.toggler__input:disabled ~ .toggler__state .toggler__control {
    background: var(--grey-2);
}

.toggler__input:disabled ~ .toggler__state .toggler__control::after {
    background: #D1D7DB;
    border-color: var(--grey-2);
}

.toggler__input:disabled ~ .toggler__state .toggler__title {
    color: var(--grey-2);
}  