.main {
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
    background-color: #F9FAFC;
    padding: 100px 0 100px;
}

.main__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.main_page-detail {
    border: none;
    background-color: #F9FAFC;
    padding: 36px 0;
}

.main_page-detail .main__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 56px;
}