.calendar {
    box-sizing: border-box;
    padding: 28px 36px;
    background: var(--bg-color-secondary);
    border: 1px solid var(--border-color-primary);
    border-radius: 8px;
    max-width: 304px;
}

.calendar__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--font-color-tertiary);
    text-align: center;
    margin-bottom: 16px;
}

.calendar__wrapper {
    position: relative;
    padding-bottom: 100%;
}

.calendar__inner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

.calendar__item {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--font-color-secondary);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.calendar__item_day {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #90A0B7;
    cursor: default;
}

.calendar__item_range {
    background: var(--bg-color-tertiary);
}

.calendar__item_range-corner {
    background: #4263EB;
    color: var(--font-color-tertiary);
}

.calendar_preview {
    max-width: 200px;
    width: 200px;
    min-width: 75px;
    padding: 7%;
}

.calendar_preview .calendar__title {
    font-size: 14px;
}

.calendar_preview .calendar__item {
    font-size: 9px;
}