.footer {
    padding: 71px 0 136px;
    background-color: var(--white);
}

.footer__title,
.footer__text,
.footer__title_page-detail {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: var(--black);
    text-align: center;
    margin: 0 auto;
}

.footer__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 32px;
}

.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 640px;
}

.footer_page-detail {
    padding: 71px 0 56px;
    background-color: #F9FAFC;
}

.footer_page-detail .footer__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}