.footer {
    padding: 71px 0 136px;
    background-color: var(--white);
}

.footer__title,
.footer__text {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: var(--black);
    text-align: center;
    margin: 0 auto;
}

.footer__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    margin-bottom: 32px;
}

.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 640px;
}