.checkbox {
    position: relative;
    display: inline-block;
}

.checkbox__input {
    position: absolute;
    clip: rect(0,0,0,0);
    top: 0;
    left: 0;
}

.checkbox__state {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.checkbox__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--font-color-primary);
    white-space: nowrap;
}

.checkbox__control {
    box-sizing: border-box;
    background: var(--bg-color-secondary);
    border: 1px solid var(--grey-2);
    border-radius: 4px;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkbox__icon {
    width: 15px;
    height: 13px;
    fill: none;
    opacity: 0;
    transform: scale(0.5);
    transition: all .2s ease-in-out;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
    transform: scale(1);
    opacity: 1;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: #4263EB;
    border-color: #4263EB;
    animation: pulse .5s ease-in-out;
}

.checkbox__input:focus ~ .checkbox__state .checkbox__title {
    text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state {
    pointer-events: none;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title {
    color: var(--grey-2);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #bdc3c7;
    }
    100% {
        box-shadow: 0 0 0 10px rgba(189, 195, 199, 0);
    }
}