.form-group {
    display: flex;
    flex-direction: column;
    max-width: 350px;
}

.form-group__label,
.form-group__input,
.form-group__input::placeholder {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.form-group__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--font-color-tertiary);
    margin-bottom: 4px;
}

.form-group__input {
    box-sizing: border-box;
    width: 100%;
    background: var(--bg-color-secondary);
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    padding: 14px 24px;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
    text-overflow: ellipsis;
    outline: none;
    background-repeat: no-repeat;
    background-position: center right 16px;
    transition: border-color .2s ease;
}

.form-group__input::placeholder {
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-2);
}

.form-group__input:focus {
    border-color:#4263EB;
    box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
}

.form-group__input:disabled {
    pointer-events: none;
    background: var(--grey-2);
}

.form-group_success .form-group__input,
.form-group_invalid .form-group__input {
    padding-right: 38px;
}

.form-group_success .form-group__input {
    background-image: url(../../assets/images/check-circle-icon.svg);
}

.form-group_invalid .form-group__input {
    background-image: url(../../assets/images/alert-triangle-icon.svg);
}

.form-group_invalid .form-group__input {
    border-color: var(--red);
}

.form-group_invalid .form-group__input:focus {
    border-color: var(--red);
}

